---
Checks:          '*,-google-readability-todo,-google-build-using-namespace,-google-readability-braces-around-statements,-hicpp-braces-around-statements'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
  - key:             modernize-make-unique.MakeSmartPtrFunction
    value:           'std::make_unique'
...
